@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://css.gg/search.css');
@import url('https://css.gg/mail.css');
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */


.app-container {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --orange: #fcaa67;
  --red: #b0413e;
  --cream: #ffffc7;
  --teal: #548687;
  --purple: #473335;
}

img.arrow {
  height: 50px;
}